%tr
  =# hidden_field_tag 'price[][product_id]', sh_pr.product_id
  %td= select_tag "price[][product_id]", options_from_collection_for_select(Product.all, "id", "name"), :prompt => Product.find(shop_product.product_id).name, style: 'margin-top:-3px;width:150px'
  %td= text_field_tag 'price[][name]', shop_product.name, class: 'input-large', style: 'margin-top:-3px;width:150px'
  %td= text_field_tag 'price[][value]', shop_product.price, class: 'input-mini value', style: 'margin-top:-3px'
  %td= link_to 'удалить', '#', class: 'del-item'