%legend Таблица сравнения товаров по магазинам города
%br/
%table.table.table-hover.table-striped
  %thead
    %tr
      %th товар
      - 1.upto(7) do |n|
        %th= "магазин " + n.to_s
  %tbody
    - Product.all.each do |product|
      %tr
        %td= product.name
        - 1.upto(7) do |n|
          %td цена
%br/
%blockquote.pull-right
  %p Экономика должна быть экономной
  %small Л. И. Брежнев